In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

from sklearn.model_selection import train_test_split, StratifiedKFold, GridSearchCV

from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score
from sklearn.metrics import f1_score, confusion_matrix, precision_recall_curve, roc_curve

from sklearn.preprocessing import StandardScaler, Binarizer
from sklearn.linear_model import LogisticRegression


import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("./data/BASE_DATA1.CSV")

In [3]:
df.head()

           T_ID T_DATA_CLASS  T_EDATE  T_SEX  T_AGE  T_INCOME  T_MARRY
0  K_BASE_00001          B20   200802      2     42     99999    99999
1  K_BASE_00002          B20   200306      2     58         1        2
2  K_BASE_00003          B14   201108      2     60     99999        2
3  K_BASE_00004          B29   201004      2     73         1        5
4  K_BASE_00005          B23   200410      2     59         2        2